# Project
/resources/*
!/resources/tables.txt
!/resources/extract_data.c
!/resources/get_tables.c
!/resources/index.c
!/resources/known_data.yaml
!/resources/known_funcs.yaml
!/resources/filesystem.txt

# Cargo
/target
/Cargo.lock

# Ides
/.vscode

# Logs
/latest.log
