# Cargo
/target
/Cargo.lock

# Ides
/.vscode

# Logs
/latest.log

# Resources
/resources/*

# Msd values + labels
!/resources/msd/
/resources/msd/*
!/resources/msd/en/
/resources/msd/en/*
!/resources/msd/en/*.labels
!/resources/msd/en/*.vars

# Assembly
!/resources/asm/
!/resources/asm/*.asm