# Project
!/resources/
/resources/*
!/resources/foreign_data.yaml
!/resources/game_data.yaml
!/resources/game_funcs.yaml
!/resources/inst_args_override.yaml

# Cargo
/target
/Cargo.lock

# Ides
/.vscode

# Logs
/latest.log

# Msd values + labels
!/resources/msd/
/resources/msd/*
!/resources/msd/en/
/resources/msd/en/*
!/resources/msd/en/*.labels
!/resources/msd/en/*.values