name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install minimal nightly with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rustfmt, clippy
      - name: Clippy
        run: cargo +nightly clippy --verbose
      - name: Run tests
        run: cargo +nightly test --verbose
      - name: Rust Fmt
        run: cargo +nightly fmt --verbose -- --check
